@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --header-height: 5rem;
  --hero-mt: calc(var(--header-height) + 1rem);
}

html,
body {
  overflow-x: hidden;
}

@layer base {
  h1 {
    @apply mb-4 text-center text-3xl font-semibold;
  }
  h2 {
    @apply mb-3 mt-4 text-2xl font-semibold;
  }
  h3 {
    @apply mb-1 mt-3 text-lg;
  }
  p {
    @apply mt-1 text-justify text-lg font-light;
  }
  hr {
    @apply h-[0.075rem] w-full bg-slate-900 dark:h-[0.015rem] dark:bg-stone-100;
  }
}

@layer components {
  /* home page layout */
  .home-page-layout {
    @apply pb-8;
  }

  /* non-home page layout */
  .page-layout {
    /* mt-[Xrem] to push the content below the navbar on non-home pages */
    @apply relative mt-[var(--header-height)] scroll-mt-[8rem] px-4 py-8;
  }

  .layout-gradient {
    @apply bg-gradient-to-r from-stone-100 to-stone-50 text-slate-900 dark:from-slate-900 dark:to-slate-900 dark:text-stone-100;
  }

  #header {
    @apply z-[999] h-[var(--header-height)];
  }

  #hero {
    .hero-image {
      @apply absolute bottom-0 left-0 right-0 top-0 z-[100] h-full rounded-[0.25em] bg-[url('/bear02.png')] bg-cover bg-[center] bg-no-repeat opacity-95 dark:text-opacity-95;
    }

    .hero-text-wrapper {
      @apply z-[500]
      mt-[var(--hero-mt)]
      w-full
      pt-6
      text-center text-stone-100 drop-shadow-md dark:text-stone-100;
    }
  }
}
